history

*.elc

*~
.#*
ac-comphist.dat
ido.last
recentf
transient
workspace

tree-sitter
elpa/

.lsp-session*
.mc-lists.el
.smex-items
nrepl-history
cider-history
auto-save-list/
emacs.frameg
.emacs.desktop
.emacs.desktop.lock
eshell

projectile-bookmarks.eld

.DS_Store
/tramp
combobulate
places
